*{
    margin: 0;
    padding: 0;
}

.inner_div{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    border: 2px solid black;
    margin-top:20px;
}
#outer_div{
    min-width: 1440px;
    min-height: 692px;
    border: 2px solid grey;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
